{{> menu}}

<section class="about-section">

  <div class="about-layout">

    <div class="about-image">
      <img src="{{image}}" alt="Picture of maker">
    </div>

    <div class="about-text-box">
      <h2 class="about-title">{{title}}</h2>
      <p>{{text}}</p>
    </div>

  </div>

</section>

<footer class="about-footer">
  <p>Contact Me:</p>
  <p>Email: {{contact.email}}</p>
  <p>Phone: {{contact.phone}}</p>
  <p>Address: {{contact.address}}</p>
</footer>